<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Evento">
    <meta name="application-name" content="Evento">
    <meta name="theme-color" content="#ffffff">
    <link href="/css/bootstrap/bootstrap.min.css?v{{webAppVersion}}" rel="stylesheet">
    <link href="/css/swiper/swiper.min.css?v{{webAppVersion}}" rel="stylesheet">
    <link href="/css/app.css?v{{webAppVersion}}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/ie/html5shiv.min.js"></script>
    <script src="/js/ie/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="app">{{{content}}}</div>
    <script src="/js/app.js?v{{webAppVersion}}"></script>
</body>

</html>