.navbar--default {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 4px 6px rgba(0,0,0,0.21);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.21);
  border: 0px;
  position: relative;
  z-index: 990;
  margin-bottom: 0px;
}
.navbar--default .navbar-brand {
  color: #444;
  padding: 10px 10px;
}
.navbar--default .navbar-brand:hover {
  color: #000;
}
.navbar--default .nav > li > a {
  color: #444;
}
.navbar--default .nav > li > a:hover,
.navbar--default .nav > li > a:focus {
  color: #000;
  background-color: #fff;
}
.navbar--default .navbar-toggle {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 10px;
}
.navbar--default .navbar-toggle .icon-bar {
  background: #444;
}
.error-page--default .error-page {
  position: relative;
}
.error-page--default .error-page__elem {
  padding: 90px 0px;
}
.error-page--default .error-page__elem h1 {
  font-size: 45px;
  margin: 0px 0px 20px 0px;
}
.error-page--default .error-page__elem h2 {
  font-size: 25px;
}
.main-article {
  min-height: 300px;
}
.main-article--default {
  background: #137db3;
  width: 100%;
}
.main-article--default .main-article__container {
  width: 100%;
  margin: 0px auto;
  color: #fff;
}
.main-article--default .main-article__container__description {
  margin: 130px 0px 0px 0px;
}
.main-article--default .main-article__container__description__title {
  max-width: 500px;
  font-size: 45px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.23);
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}
.main-article--default .main-article__container__description__text {
  font-size: 17px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.23);
  line-height: 1.3;
  margin: 0px 0px 50px;
}
.main-article--default .main-article__container__description__download {
  color: #fff;
}
.main-article--default .main-article__container__description__download__title {
  text-align: center;
  font-size: 18px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.23);
  margin-bottom: 15px;
}
.main-article--default .main-article__container__description__download__left {
  text-align: right;
}
.main-article--default .main-article__container__description__download__right {
  text-align: left;
}
.main-article--default .main-article__container__description__download a {
  display: block;
}
.main-article--default .main-article__container__slide {
  margin: 50px 0px 0px 0px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .main-article--default .main-article__container__description {
    margin: 70px 0px;
  }
  .main-article--default .main-article__container__slide img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .main-article--default .main-article__container__description {
    margin: 30px 0px;
  }
}
@media screen and (min-width: 768px) {
  .main-article--default .main-article__container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .main-article--default .main-article__container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .main-article--default .main-article__container {
    width: 1170px;
  }
}
.about-article {
  min-height: 300px;
}
.about-article--default {
  width: 100%;
}
.about-article--default .about-article__main-title {
  text-align: center;
  margin: 40px 0px 20px 0px;
}
.about-article--default .about-article__title {
  max-width: 500px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
  margin: 70px 0px 20px 0px;
}
.about-article--default .about-article__text {
  font-size: 17px;
  line-height: 1.3;
  margin: 0px 0px 50px;
}
.about-article--default .about-article__picture {
  margin: 20px 0px;
  width: 100%;
}
.about-article--default .about-article__picture--left {
  text-align: left;
}
.about-article--default .about-article__picture--right {
  text-align: right;
}
.main-footer--default.main-footer {
  padding: 20px 0;
  background: #f5f5f5;
  color: #444;
  font-size: 12px;
}
.main-footer--default .main-footer__copyright {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .main-footer--default .main-footer__design {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .main-footer--default .main-footer__copyright {
    text-align: center;
  }
}
html,
body,
#app {
  height: 100%;
}
.app__main--default {
  height: 100%;
}
.app__main--default .app__main__left-content {
  width: 250px;
  position: absolute;
  left: 0px;
  top: 50px;
  bottom: 0px;
  background: #333;
  -webkit-box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
  box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
}
/*body {
    background: linear-gradient(to top, #0970a5 0%, #0970a5 99%, #fff 100%);
}*/
body {
  background-color: #f5f5f5;
}
