_BACKGROUND_COLOR = #f5f5f5

.main-footer--default.main-footer {
    padding: 20px 0;
    background: _BACKGROUND_COLOR;
    color: #444444;
    font-size: 12px;
}
.main-footer--default .main-footer {
    &__design {

    }
    &__copyright {
        text-align: right

    }
}

@media screen and (max-width: 991px) {
    .main-footer--default .main-footer {
        &__design {
            text-align: center
            margin: 0px 0px 20px 0px
        }
        &__copyright {
            text-align: center
        }
    }
}