_BACKGROUND_COLOR = #137db3

.main-article {
    min-height: 300px;
}

.main-article--default {
    background: _BACKGROUND_COLOR
    width: 100%
}
.main-article--default .main-article {
    &__container {
        width: 100%
        margin: 0px auto
        color: #fff
        &__description{
            margin: 130px 0px 0px 0px 
            &__title {
                max-width: 500px;
                font-size: 45px;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.23);
                font-weight: 300;
                line-height: 1;
                margin-bottom: 20px;
            }
            &__text {
                font-size: 17px;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.23);
                line-height: 1.3;
                margin: 0px 0px 50px 
            }
            &__download {
                color: #fff
                &__title {
                    text-align: center
                    font-size: 18px;
                    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.23);
                    margin-bottom: 15px;
                }
                &__left {
                    text-align: right
                }
                &__right {
                    text-align: left
                }
                & a {
                    display: block
                }
            }
        }
        &__slide {
            margin: 50px 0px 0px 0px
            text-align: center
        }
    }
    
}

@media screen and (max-width: 1199px) {
    .main-article--default .main-article {
        &__container {
            &__description{
                margin: 70px 0px;
            }
            &__slide {
                & img {
                    width: 100%
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .main-article--default .main-article {
        &__container {
            &__description{
                margin: 30px 0px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .main-article--default .main-article {
        &__container {
            width: 750px;
        }
    }
}

@media screen and (min-width: 992px) {
    .main-article--default .main-article {
        &__container {
            width: 970px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-article--default .main-article {
        &__container {
            width: 1170px;
        }
    }
}