
.about-article {
    min-height: 300px;
}

.about-article--default {
    width: 100%
}
.about-article--default .about-article {

    &__main-title {
        text-align: center
        margin: 40px 0px 20px 0px;
    }
    &__title {
        max-width: 500px;
        font-size: 26px;
        font-weight: 300;
        line-height: 1;
        margin: 70px 0px 20px 0px;
    }
    &__text {
        font-size: 17px;
        line-height: 1.3;
        margin: 0px 0px 50px 
    }

    &__picture {
        margin: 20px 0px;
        width: 100%
        &--left {
            text-align: left
        }
        &--right {
            text-align: right
        }
    }

}
