
.error-page--default .error-page
    position: relative
    &__elem {
        padding: 90px 0px
        h1 {
            font-size: 45px
            margin: 0px 0px 20px 0px
        }
        h2 {
            font-size: 25px;
        }    
    }




        