_BACKGROUND_COLOR = #137db3

.main-slider {
    background: _BACKGROUND_COLOR
    width: 100%
    &__item {
        font-size: 18px;
        color:#fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 500px;
        &__container {
            width: 100%
            margin: 0px auto
        }
        &__slide1 {
            padding: 150px 0 0 0;
            background: url('/img/sliderExample2.png');
            background-position: 110%
            background-repeat: no-repeat;
            min-height:500px
        }
        &__title {
            max-width: 500px;
            font-size: 47px;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.23);
            font-weight: 300;
            line-height: 1;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 21px;
            max-width: 500px;
        }
        &__text {
            font-size: 17px;
            max-width: 500px;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.23);
            line-height: 1.3;
        }
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
    }
    .swiper-button-next, .swiper-button-prev{
        font-size: 28px;
        color: #fff;
        background-image: none;
    }
}

@media screen and (min-width: 768px) {
    .main-slider {
        &__item {
            &__container {
                width: 750px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main-slider {
        &__item {
            &__container {
                width: 970px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-slider {
        &__item {
            &__container {
                width: 1170px;
            }
        }
    }
}