_LINK_COLOR = #444
_LINK_COLOR_HOVER = #000
_LINK_BACKGROUD_COLOR_HOVER = #fff
_BACKGROUD_COLOR = #fff

.navbar--default{
    border-radius: 0px !important
    background: _BACKGROUD_COLOR
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.21)
    border: 0px
    position: relative
    z-index: 990
    margin-bottom: 0px
    .navbar-brand {
        color: _LINK_COLOR;
        padding: 10px 10px;
        &:hover {
            color: _LINK_COLOR_HOVER
        }
    }
    .nav{
        > li > a {
            color: _LINK_COLOR
            &:hover
            &:focus{
                color: _LINK_COLOR_HOVER
                background-color: _LINK_BACKGROUD_COLOR_HOVER
            }
        }
    }
    .navbar-toggle {
        border: none;
        border-radius: 0;
        margin-right: 10px;
    }
    .navbar-toggle .icon-bar {
        background: _LINK_COLOR
    }
}
