//Mixins
@import 'mixins/index'

//Headers
@import 'layouts/headers/NavbarDefaultHeader'

//Articles
@import 'layouts/articles/error/ErrorDefaultArticle'
@import 'layouts/articles/main/MainDefaultArticle'
@import 'layouts/articles/about/AboutDefaultArticle'

//Footer
@import 'layouts/footers/MainDefaultFooter'

//Sliders
//@import 'layouts/sliders/MainSlider'

//Themes
@import 'layouts/themes/DefaultTheme'

/*body {
    background: linear-gradient(to top, #0970a5 0%, #0970a5 99%, #fff 100%);
}*/
body {
    background-color: #f5f5f5;
}